.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__etGb5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-h2iC5LI1bSAyrk);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__yX3P0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-h2iC5LI1bSAyrk);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__p4Tx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-h2iC5LI1bSAyrk);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__sjpl7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-h2iC5LI1bSAyrk);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__ofviw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-h2iC5LI1bSAyrk);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
