.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 99;
  background: linear-gradient(#0a0a0a1c, #0a0a0a1c),
    url("./images/home4Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.navBar:global(.__wab_instance) {
  align-self: center;
}
.section__fnGab {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__fnGab {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
.container3 {
  max-width: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-self: flex-end;
  min-width: 0;
  padding: 200px 23px 220px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container3 {
    padding-top: 30px;
    padding-bottom: 66px;
  }
}
.freeBox__qlUOf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qlUOf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qlUOf > :global(.__wab_flex-container) > *,
.freeBox__qlUOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qlUOf > :global(.__wab_flex-container) > picture > img,
.freeBox__qlUOf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__rFtsm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rFtsm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rFtsm > :global(.__wab_flex-container) > *,
.freeBox__rFtsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rFtsm > :global(.__wab_flex-container) > picture > img,
.freeBox__rFtsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1 {
  position: relative;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
.text__nP9Sy {
  width: 100%;
  height: auto;
  max-width: 585px;
  text-align: center;
  color: var(--token-jQEHVCDjIquP3N);
  font-size: 22px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nP9Sy {
    font-size: 20px;
  }
}
.freeBox__cF1Bk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-jQEHVCDjIquP3N);
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid var(--token-jQEHVCDjIquP3N);
}
.root .button:hover {
  background: var(--token-BbMAmwYuUPyNMY);
  border-color: var(--token-BbMAmwYuUPyNMY);
}
.section__ihGNi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 20px;
}
.freeBox__u1GGq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__u1GGq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 28px);
  height: calc(100% + 28px);
}
.freeBox__u1GGq > :global(.__wab_flex-container) > *,
.freeBox__u1GGq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u1GGq > :global(.__wab_flex-container) > picture > img,
.freeBox__u1GGq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 28px;
}
.h3__c3VaQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.link__fU6N {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-BbMAmwYuUPyNMY);
}
.link__fU6N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__fU6N > :global(.__wab_flex-container) > *,
.link__fU6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fU6N > :global(.__wab_flex-container) > picture > img,
.link__fU6N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__h0ZrV {
  font-size: 15px;
  color: var(--token-BbMAmwYuUPyNMY);
  font-weight: 400;
}
.svg__g0Oj8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-BbMAmwYuUPyNMY);
  flex-shrink: 0;
}
.section__zJz8E {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: var(--token-jQEHVCDjIquP3N);
  padding: 100px 20px;
}
.section__zJz8E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__zJz8E > :global(.__wab_flex-container) > *,
.section__zJz8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__zJz8E > :global(.__wab_flex-container) > picture > img,
.section__zJz8E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zJz8E {
    padding-top: 60px;
    padding-bottom: 60px;
    left: auto;
    top: auto;
  }
}
.freeBox__a8YrR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__a8YrR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__a8YrR > :global(.__wab_flex-container) > *,
.freeBox__a8YrR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a8YrR > :global(.__wab_flex-container) > picture > img,
.freeBox__a8YrR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wypYp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection__h5AWc:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__aomCz:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__bBGxU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-VaWbaZXdvDUzVS);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__c4Hq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__paqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___1NjI2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__evbzt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.categoryCollection__umlHo:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__w5NL9:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__d5BG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-VaWbaZXdvDUzVS);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__bKc5T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___1BPfF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__bPht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__buJg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection__yIvme:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__ucQjp:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__wXiE9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-VaWbaZXdvDUzVS);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__gD8B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___8RlB8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__titKd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__kxSa {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 100px 20px;
}
.section__kxSa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__kxSa > :global(.__wab_flex-container) > *,
.section__kxSa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__kxSa > :global(.__wab_flex-container) > picture > img,
.section__kxSa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kxSa {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__yyBGt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__yyBGt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__yyBGt > :global(.__wab_flex-container) > *,
.freeBox__yyBGt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yyBGt > :global(.__wab_flex-container) > picture > img,
.freeBox__yyBGt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__rn0AS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 635px;
  text-align: center;
  min-width: 0;
}
.h3__q0165 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  min-width: 0;
}
.link__eTcA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-BbMAmwYuUPyNMY);
}
.link__eTcA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__eTcA > :global(.__wab_flex-container) > *,
.link__eTcA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eTcA > :global(.__wab_flex-container) > picture > img,
.link__eTcA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__um9W0 {
  font-size: 15px;
  color: var(--token-BbMAmwYuUPyNMY);
  font-weight: 400;
}
.svg__vZgNk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-BbMAmwYuUPyNMY);
  flex-shrink: 0;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__zVolb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ssFae {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___9P0Ms {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
