.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-BbMAmwYuUPyNMY);
}
.freeBox__hQoL {
  max-width: 1380px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__hQoL > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__hQoL > :global(.__wab_flex-container) > *,
.freeBox__hQoL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hQoL > :global(.__wab_flex-container) > picture > img,
.freeBox__hQoL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hQoL {
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    min-width: 0;
    padding: 12px 17px 13px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hQoL > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hQoL > :global(.__wab_flex-container) > *,
  .freeBox__hQoL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hQoL > :global(.__wab_flex-container) > picture > img,
  .freeBox__hQoL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
  }
}
.freeBox__cKnvf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__cKnvf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 43px);
  width: calc(100% + 43px);
}
.freeBox__cKnvf > :global(.__wab_flex-container) > *,
.freeBox__cKnvf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cKnvf > :global(.__wab_flex-container) > picture > img,
.freeBox__cKnvf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 43px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cKnvf {
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cKnvf > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 43px);
    width: calc(100% + 43px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cKnvf > :global(.__wab_flex-container) > *,
  .freeBox__cKnvf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cKnvf > :global(.__wab_flex-container) > picture > img,
  .freeBox__cKnvf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 43px;
    margin-top: 0px;
  }
}
.link__aEyK4 {
  color: var(--token-BbMAmwYuUPyNMY);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___3TKlG {
  color: var(--token-BbMAmwYuUPyNMY);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__blmbF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__blmbF {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 8px;
  }
}
.link__rsftP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--token-BbMAmwYuUPyNMY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rsftP {
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--token-lsG2ixY034oaXG);
  }
}
.freeBox___9TBeg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9TBeg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 43px);
  width: calc(100% + 43px);
}
.freeBox___9TBeg > :global(.__wab_flex-container) > *,
.freeBox___9TBeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9TBeg > :global(.__wab_flex-container) > picture > img,
.freeBox___9TBeg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 43px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TBeg {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TBeg > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 43px);
    width: calc(100% + 43px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9TBeg > :global(.__wab_flex-container) > *,
  .freeBox___9TBeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9TBeg > :global(.__wab_flex-container) > picture > img,
  .freeBox___9TBeg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 43px;
    margin-top: 0px;
  }
}
.link___8Tn7T {
  color: var(--token-BbMAmwYuUPyNMY);
  text-transform: capitalize;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-BbMAmwYuUPyNMY);
  flex-shrink: 0;
}
